/.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.o
*.cf
/node_modules/
yarn.lock
/dist/
/out/
/build/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.log
q2prj
vhdl/gen/
tester/__pycache__
tester/progress.json
